
#Heading{
     background-color:708160;
     color:c3edea;
  }
  
.heading3
  {
    background-color:708160;
    color:c3edea;
  }
  .Parth
  {
    background-color:bb3b0e;
    color:c3edea;
  }
  .Raj
  {
    background-color:dd7631;
    color:c3edea;
  }

  h2{
    background-color:dd7631;
    color:c3edea;
  }
  li{
    background-color:ffe0ac;
    color:00263b;
  }

  label{
    background-color:c3edea;
    color: 3f3f44;  
  }

  input{
    background-color:fc8210;
    color:00263b;
  }
#heading1{
    background-color:f6f578;
    color:91bd3a;  
}



.studinf{
    background-color:52de97;
    color:06623b;  
}